.git
.github
.docker
.venv
**/__pycache__
**/*.py[cod]
**/*.egg-info
.pytest_cache
.local-data
.env*
**/*.env
**/*.env.*
!.env.example
*.sqlite3
*.sqlite3-wal
*.sqlite3-shm
**/.terraform
**/*.tfstate*
**/*.tfplan
**/crash.log
**/crash.*.log
infrastructure
tests
docs
deploy
